noOfConnections=100
driverString=org.gjt.mm.mysql.Driver
connectionString=jdbc:mysql://localhost/quizmaker
userName=root
userPassword=root
logfile=D:/QuizMaker/logs/
uploadPath=/home/newuser/QuizMaker/ImportedFiles/
#uploadPath=D:/QuizMaker/ImportedFiles
projectbase=/home/newuser/QuizMaker
#projectbase=d:/QuizMaker/Data
server=localhost